## 08 : Variables

> Add blockquote

In [1]:
age = 28 # Assign the value 28 to the variable named age

In [3]:
print(age) # Display the value of the age variable

28

In [ ]:
name  =  "lakshitha"
print(name)